h2{
    text-align: center;
}
img{
    height: 400px;
    width: 100%;
}
.second-row{
    display: flex;
    gap: 5px;
}
.second-row > div{
    flex: 1;
}
.second-row-contain{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.second-row-contain img{
    height: 195px;
}

.third-row{
    display: flex;
    gap: 5px;
}

.third-row-contain{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}
.third-row-contain img{
    height: 195px;
}
.third-row > div {
    flex: 1;
}
@media screen and (max-width: 576px) {
    img, .second-row-contain img{
        height: 250px;
        width: 100%;
    }
    .second-row, .third-row{
        flex-direction: column;
    }
    .third-row-contain{
        grid-template-columns: repeat(1, 1fr);
    }
    .second-row-contain{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:577px) and (max-width: 992px) {
    img, .second-row-contain img{
        height: 400px;
        width: 100%;
    }
    .second-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .second-row-contain{
        flex-direction: row;
    }
      
}
